{% extends "main.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
   {% if messages %}
<div class="container">
    <div class="row">
        {% for message in messages %}
        <div class="col-12 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


      <h1 class="my-4">

Статусы

      </h1>

<a href="{% url 'statuses:statuses_create' %}" class="btn btn-primary">Создать статус</a>

<table class="table table-striped">
<thead>
  <tr>
    <th class="col-1">ID</th>
    <th class="col-8 wide-column">Имя</th>
    <th class="col-2">Дата создания</th>
    <th class="col-1"></th>
  </tr>
</thead>
  <tbody>
    {% for status in statuses %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'statuses:statuses_update' status.pk %}">{% trans "Изменить" %}</a>
          <br>
           <a href="{% url 'statuses:statuses_delete' status.pk %}">{% trans "Удалить" %}</a>
        </td>
      </tr>
   {% endfor %}
        </tbody>
</table>

    </div>
{% endblock %}
