{% extends "main.html" %}
{% load i18n %}
{% block content %}

<div class="container wrapper flex-grow-1 px-3">
    {% block h1 %}
    {% endblock %}<!-- Добавляем px-3 для отступов по бокам -->
    <form action="{{ action_url }}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row g-3"> <!-- Добавляем row для группировки полей -->
            {% for field in form %}
                <div class="col-12 d-flex"> <!-- Используем col-12 и d-flex для полного занимания ширины -->
                    {{ field.label_tag }}</div>
                    <input type="text" name="{{ field.auto_id }}" class="flex-fill form-control" placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'' }}" value="{{ field.value|default_if_none:'' }}" />
                </div>
                {% if field.name == 'password' %}
                    <ul class="form-text text-muted mb-2">
                        <li>{{ field.help_text }}</li>
                    </ul>
                {% else %}
                    <div class="form-text text-muted mb-2"><small>{{ field.help_text }}</small></div>
                {% endif %}
            {% endfor %}
        </div>
        {% block submit_button %}
        {% endblock %}
    </form>
</div>
{% endblock %}