{% extends "main.html" %}
{% load i18n %}
{% block content %}

<div class="container wrapper flex-grow-1">
    {% block h1 %}
    {% endblock %}
<form action="{{ action_url }}" method="post" autocomplete="off">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <input
                name="{{ field.name }}"
                class="flex-fill form-control {% if field.errors %}is-invalid{% endif %}{% if form.errors and not field.errors %}is-valid{% endif %}"
                placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'' }}"
                value="{{ field.value|default_if_none:'' }}"
                required
                {% if field.name == 'password' or field.name == 'password2' %}
                    type="password"
                {% else %}
                    type="text"
                {% endif %}
            />
{% if field.errors %}
    <div class="invalid-feedback">
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
            {% if field.name == 'password' %}
                <ul class="form-text text-muted mb-2">
                    <li>{{ field.help_text }}</li>
                </ul>
            {% else %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
    {% endfor %}
    {% block submit_button %}
    {% endblock %}
</form>
</div>
{% endblock %}