{% extends "main.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
   {% if messages %}
<div class="container">
    <div class="row">
        {% for message in messages %}
        <div class="col-12 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


      <h1 class="my-4">

{% trans "Labels" %}

      </h1>

<a href="{% url 'labels:labels_create' %}" class="btn btn-primary">{% trans "Create label" %}</a>

<table class="table table-striped">
<thead>
  <tr>
    <th class="col-1">ID</th>
    <th class="col-8 wide-column">{% trans "Name" %}</th>
    <th class="col-2">{% trans "Created at" %}</th>
    <th class="col-1"></th>
  </tr>
</thead>
  <tbody>
    {% for label in labels %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'labels:labels_update' label.pk %}">{% trans "Edit" %}</a>
          <br>
           <a href="{% url 'labels:labels_delete' label.pk %}">{% trans "Delete" %}</a>
        </td>
      </tr>
   {% endfor %}
        </tbody>
</table>

    </div>
{% endblock %}
