{% extends "main.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
       {% if messages %}
<div class="container">
    <div class="row">
        {% for message in messages %}
        <div class="col-12 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

    <h1 class="my-4">{% trans "Login" %}</h1>
{% if form_error %}
<ul class="list-unstyled text-danger mt-3 fs-6">
<li class="font-weight-normal">
    {% trans "Please enter a valid username and password. Both fields may be case sensitive." %}
</li>
</ul>
{% endif %}


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="id_username"> {% trans "User name" %}</label>
        <input type="text" name="username" autofocus autocapitalize="none"
               autocomplete="username" maxlength="150" class="form-control"
               placeholder="Имя пользователя" required id="id_username"
               value="{{ request.session.username | default_if_none:'' }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="id_password">{% trans "Password" %}</label>
        <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder={% trans "Password" %} required id="id_password">
    </div>
    <input class="btn btn-primary" type="submit" value={% trans "Log me in" %}>
</form>
</div>
{% endblock %}