{% extends "main.html" %}
{% load i18n %}
{% block content %}

<div class="container wrapper flex-grow-1">
    {% block h1 %}
    {% endblock %}
<form action="{{ action_url }}" method="post" autocomplete="off">
    {% csrf_token %}

    {% for field in form %}
        {% if field.name == 'labels' %}

        <div class="mb-3">
            <label class="form-label" for="{{ field.auto_id }}"{% trans "Labels" %}</label>
            <select
                id="{{ field.auto_id }}"
                name="{{ field.name }}"
                class="form-select{% if field.errors %}is-invalid{% endif %}
                {% if form_errors and not field.errors %}is-valid{% endif %}"
                multiple>
                {% for choice in field.field.choices %}
                    {% if choice.0 in field.value %}
                        <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                    {% else %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endif %}
                {% endfor %}

            </select>
            {% if field.errors %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% if field.field.choices %}
            <select
                id="{{ field.auto_id }}"
                name="{{ field.name }}"
                class="form-select{% if field.errors %}is-invalid{% endif %}{% if form_errors and not field.errors %}is-valid{% endif %}"
            {% if field.name == 'status' %} required {% endif %}>
        {% for choice in field.field.choices %}
            {% if field.value|stringformat:"s" == choice.0|stringformat:"s" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
            {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endif %}
        {% endfor %}
            </select>

            {% elif field.name == 'description' %}
                <textarea
                    id="{{ field.auto_id }}"
                    name="{{ field.name }}"
                    class="form-control
                    {% if field.errors %}is-invalid{% endif %}
                    {% if form_errors and not field.errors %}is-valid{% endif %}"
                    placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'' }}"
                    rows="3">{{ field.value|default_if_none:'' }}</textarea>
            {% else %}
                <input
                    id="{{ field.auto_id }}"
                    name="{{ field.name }}"
                    class="form-control
                    {% if field.errors %}is-invalid{% endif %}
                    {% if form_errors and not field.errors %}is-valid{% endif %}"
                    placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'' }}"
                    value="{{ field.value|default_if_none:'' }}"
                    type="text"
                    required
                />
            {% endif %}
            {% if field.errors %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}

    {% block submit_button %}
    {% endblock %}
</form>
</div>
{% endblock %}