{% extends "main.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
   {% if messages %}
<div class="container">
    <div class="row">
        {% for message in messages %}
        <div class="col-12 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


      <h1 class="my-4">

Задачи

      </h1>

<a href="{% url 'tasks:task_create' %}" class="btn btn-primary mb-3">Создать задачу</a>
    <div class="card mb-3">
  <div class="card-body bg-light">

<form class="form-inline center" method="get" action="">
{% for field in filter_form %}
    <div class="mb-3">
        {% if field.name == 'self_tasks' %}
        <div class="form-check">
            <input
                id="{{ field.auto_id }}"
                name="{{ field.name }}"
                {% if field.value %}checked{% endif %}
                type="checkbox"
                class="form-check-input mr-3 {% if form_processed %}is-valid{% endif %}"
            >
            <label for="{{ field.auto_id }}" class="form-check-label">Только свои задачи</label>
        </div>
        {% else %}
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <select
            name="{{ field.name }}"
            class="form-select ml-2 mr-3 {% if form_processed %}is-valid{% endif %}"
            id="{{ field.auto_id }}"
            >
      {% for choice in field.field.choices %}

    {% if field.value|stringformat:"s" == choice.0|stringformat:"s" %}
        <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
    {% else %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    {% endif %}
{% endfor %}
        </select>
        {% endif %}

    </div>
{% endfor %}
<button type="submit" class="btn btn-primary">Показать</button>
</form>

  </div>
</div>
<table class="table table-striped">
<thead>
  <tr>
    <th class="col-1">ID</th>
    <th class="col-2 wide-column">Имя</th>
      <th class="col-2 wide-column">Статус</th>
      <th class="col-2 wide-column">Автор</th>
      <th class="col-2 wide-column">Исполнитель</th>
    <th class="col-2">Дата создания</th>
    <th class="col-1"></th>
  </tr>
</thead>
  <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'tasks:task_info' task.pk %}">{{ task.name }}</a></td>
          <td>{{ task.status }}</td>
         <td> {{ task.author.first_name }} {{ task.author.last_name }}</td>
         <td> {{ task.executor.first_name }} {{ task.executor.last_name }}</td>
        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'tasks:task_update' task.id %}">{% trans "Изменить" %}</a>
          <br>
           <a href="{% url 'tasks:task_delete' task.id %}">{% trans "Удалить" %}</a>
        </td>
      </tr>
   {% endfor %}
        </tbody>
</table>

    </div>
{% endblock %}